.Main_chat
  .Main_chat__group-info
    .Main_chat__group-info__header-left
      .Main_chat__group-info__header-left__group-name
        = @group.name
      %ul.Main_chat__group-info__header-left__member
        Member :
        - @group.users.each do |user|
          %li.Main_chat__group-info__header-left__member__list 
            = user.name
        
    = link_to edit_group_path(@group) ,class: "Main_chat__group-info__header-right"  do 
      Edit
     

  .Main_chat__message-list
    = render @messages       
  .Main_chat__message-form
    = form_with model: [@group, @message], class: "Main_chat__message-form__form-box", local: true do |f|
      .Main_chat__message-form__form-box__message-box
        = f.text_field :content, class: "Main_chat__message-form__form-box__message-box--message", placeholder: "type a message"
        = f.label :image, class: "Main_chat__message-form__form-box__message-box--label" do
          = icon("far", "image")
        = f.file_field :image, class: "Main_chat__message-form__form-box__message-box--file"
      = f.submit "Send", class: "Main_chat__message-form__form-box__send-box"    
        