.Side_bar
  .Side_bar__user-name
    .Side_bar__user-name__top-box
      %p.Side_bar__user-name__top-box--name
        = current_user.name
      %ul.Side_bar__user-name__top-box--icons 
        = link_to new_group_path, class: "Side_bar__user-name__top-box--icons" do
          = icon('far', 'edit' )
        = link_to edit_user_path(current_user), class: "Side_bar__user-name__top-box--icons" do
          = icon('fas', 'cog')  
  
  
  .Side_bar__group-list
    - current_user.groups.each do |group|
      .Side_bar__group-list__under-box
        = link_to "#" do   
          .Side_bar__group-list__under-box--name
            = group.name
          .Side_bar__group-list__under-box--message
            メッセージはまだありません

      